<li>
	
	{{burger_name}}
	
	<a role="button" class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devouring TIME!{{else}}Throw UP!{{/if}}
	</a>
</li>
