<li class="burger-row">
	
	<span class="burger-name">{{burger_name}}</span>
	
	<a role="button" class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat!{{else}}Throw up!{{/if}}
	</a>
</li>
